<style>
	.bar { 
		position: absolute;
		display: inline-block;	
		background-color: #efe;
		z-index: -10;
		top: 0px;
		left: 0px;
		height: 100%;
	}
</style>
<h1>Listing surahs</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Memory</th>
    </tr>
  </thead>

  <tbody>
    <% @surahs.each do |surah| %>
      <tr>
        <td class="col-md-3"><%= link_to surah.name, surah %></td>
        <td class="col-md-9" style="position: relative;">
        	<%= surah.memory %>
        	<span class="bar" style="width: <%= surah.memory %>%"></span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
